*{
    background-image: url(delete_emp.jpg);
    background-size: cover; 
}

input{
    height: 50px;
    width: 300px;
    font-size: larger;
    margin-left: 37%;
    display: inline-block;      

}
#input1{
    margin-top: 3.5%;
}

p{
    margin-left: 48%;
    margin-right: 52%;
    font-size: 24px;
    font-weight: bolder;
}

input[type=submit] {
    background:#5555ec; 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input:hover{
    border: solid white 2px;
}
::placeholder{
    color: rgb(214, 239, 23);
}